body {
    background-color: #ffffff;
    color: #333333;
}

button {
    background-color: #aaaaaa;
    border: none;
}

button:checked {
    border: none;
}

button#saveClassStatus {
    margin-top: 30px;
    margin-left: 5px;
}

td button {
    background-color: #b7b7b7;
}

a {
    text-decoration: none;
    color: #333333;

    border: 1px;
    border-color: #eeeeee;
    border-style: solid;
    background-color: #eeeeee;

    margin-left: 3px;
}
