<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tab-Timetable</title>
    <link href="./timetable.css" rel="stylesheet"/>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>월요일</th>
                <th>화요일</th>
                <th>수요일</th>
                <th>목요일</th>
                <th>금요일</th>
            </tr>
        </thead>
        <tbody id="TableBody">
            <tr>
                <td><button id="Mon1"></button></td>
                <td><button id="Tue1"></button></td>
                <td><button id="Wed1"></button></td>
                <td><button id="Thu1"></button></td>
                <td><button id="Fri1"></button></td>
            </tr>
            <tr>
                <td><button id="Mon2"></button></td>
                <td><button id="Tue2"></button></td>
                <td><button id="Wed2"></button></td>
                <td><button id="Thu2"></button></td>
                <td><button id="Fri2"></button></td>
            </tr>
            <tr>
                <td><button id="Mon3"></button></td>
                <td><button id="Tue3"></button></td>
                <td><button id="Wed3"></button></td>
                <td><button id="Thu3"></button></td>
                <td><button id="Fri3"></button></td>
            </tr>
            <tr>
                <td><button id="Mon4"></button></td>
                <td><button id="Tue4"></button></td>
                <td><button id="Wed4"></button></td>
                <td><button id="Thu4"></button></td>
                <td><button id="Fri4"></button></td>
            </tr>
            <tr>
                <td><button id="Mon5"></button></td>
                <td><button id="Tue5"></button></td>
                <td><button id="Wed5"></button></td>
                <td><button id="Thu5"></button></td>
                <td><button id="Fri5"></button></td>
            </tr>
            <tr>
                <td><button id="Mon6"></button></td>
                <td><button id="Tue6"></button></td>
                <td><button id="Wed6"></button></td>
                <td><button id="Thu6"></button></td>
                <td><button id="Fri6"></button></td>
            </tr>
            <tr>
                <td><button id="Mon7"></button></td>
                <td><button id="Tue7"></button></td>
                <td><button id="Wed7"></button></td>
                <td><button id="Thu7"></button></td>
                <td><button id="Fri7"></button></td>
            </tr>
        </tbody>
    </table>
    <a href="../index/index.html">뒤로가기</a>
    <script src="./timetable.js"></script>
</body>
</html>