body {
    background-color: #ffffff;
    color: #333333;
}

*::selection {
    border: none;
}

a {
    text-decoration: none;
    color: #333333;

    border: 1px;
    border-color: #eeeeee;
    border-style: solid;
    background-color: #eeeeee;

    margin-left: 3px;
}
